.Hcard{
    margin: 16px;
    padding:20px;
    border-radius: 17px;
    box-shadow: 1px 2px 3px 2px gray; 
    display: flex;
    flex-direction: column;

}
.Hcard:hover {
     box-shadow: 4px 4px 10px 2px greenyellow;
     transition: box-shadow 500ms ease-in;

}

.Hcard b {
   color:darkgreen;
   text-transform: uppercase;
}
.Hcard .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: whitesmoke;
}
